@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-weight: 400;
    /* background: #141E30; */ /* fallback from old browser */
    /* background: -webkit-radial-gradient(to right, #243B55, #141E30); */ /* Chrom 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #243B55, #141E30); */ /* W3C, IE 10+/Edge, FireFox 16+, Chrom 26+, Opera 12+, Sfari 7+ */
  }
}
